/* TOPO */
.espacamentoTopo{
    padding: 25px;
}

/* MENU */
.nav{

    padding: 5px 0 5px 5px;
    border-radius: 0%;
}

.navbar-inverse a{
color: #0078F2;
}

.menu{
    background-color: #161a1d; 
    padding-bottom: 1px;
    border: none;
    margin-bottom: -1px;
    border-radius: 0%;
}

.menu a{
    color: #00FE93;
    font-family: Arial;
    font-weight: bold;    
}

.menu a:hover{
    color: #0078F2;
        
}

.menuClose{
    background: url("../svg/bars.svg") no-repeat;
    width: 38px;
    height: 38px;
}

.menuOpen{
    background: url("../svg/close.svg") no-repeat;
    width: 38px;
    height: 38px;
}

/* BOTÃO SCROLL UP FLUTUANTE */
.btn-up{
    width: 45px;
    height: 45px;
    display: none;
    background-color: #0078F2;
    background-image: url("../svg/Double-up.svg");
    background-repeat: no-repeat;
    position: fixed;
    bottom: 45px;
    right: 45px;
    border-radius: 50%;
    z-index: 200;
}

.btn-up:hover{
    cursor: pointer;
}

/* MODAL CONTATO */
.modal-container{ 
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar{
    display: flex;
}

.modal-contato{
    background: #023D5E;
    max-width: 60%;
    min-width: 300px;
    padding: 40px;
    border: 4px solid #1AF170;
    position: relative;
}

@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar.modal-contato{
    animation: modal;
}

.fechar{
    position: absolute;
    font-size: 1.2em;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #FFF;
    background: #FF0000;
    color: white;
    cursor: pointer;
}

.contact:hover{
    cursor: pointer;
}

/* IMAGENS */
.imagem20{
    width: 32%;
    height: 35%;
    padding: 15px;
}

.imagem50{
    padding-right: 15px;
}

.team {
    position: relative;
}
  
.team__img { 
    height: auto;
    width: 100%;
}

.team__detail {
    background-color: #000;
    color: #FFF;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 10;
}

.team:hover .team__detail { 
    visibility: visible;
    cursor: pointer;
}

.imgGame{
    position: relative;
}
  
.gameImg { 
    height: auto;
    width: 100%;
}

.gameDetail {
    background-color: #000;
    color: #FFF;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 10;
    transition: all .2s;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    transform: scale(0.3);
}

.imgGame:hover .gameDetail { 
    visibility: visible;
    transform: scale(1);
    cursor: pointer;
}

.zoom{
    z-index: 10;
    transition: all ease-out 0.3s;
    transform: scale(1);
}

.zoom:hover{
    transform: scale(1.2);
    cursor: pointer;
}


/* TABELA */
#tabela{
    background-color: #0AD9B2;
    margin-top: 20px;
}

/* FORM CONTATO*/
.form{
    width: 400px;
    margin-bottom: 20px;
}

.btn-enviar{
    background-color: #18BC9C;
    color: #FFF;
    border: none;
    margin-bottom: 20px;
    transition: 0.5s;
}

.btn-enviar:hover{
    color: #FFF;
}

/* btn modal comprar */
.btn-finalizar{
    background-color: transparent;
    color: #FFF;
    border: 1px solid #0078F2;
    margin-bottom: 20px;
    transition: all 0.5s ease-out;
    overflow-x: hidden;
}

.btn-finalizar:hover{
    background-color: #0078F2;
    color: #FFF;
}

/* CARROUSEL*/
.tamanho{
    width: 700px;
    height: 300px;
}

.hidden{
    display: none;
}

/* RODAPE´*/
#rodape-1{
    padding: 25px 0 25px 0;
    background-color: #2C3E50;
}

#rodapeInterno{
    padding: 25px 0 25px 0;
    color: #FFF;
}

.footer{
    background-color: #1A252F;
}

.social{
    width: 35px;
    height: 35px;
    transition: 0.4s;
}

.social:hover{
    width: 50px;
    height: 50px;
}

/* CLASSES UTILITÁRIAS LAYOUT */
.corInterna{
    background-color: #FFF;
    margin-top: 25px;
    margin-bottom: 25px;
}

.botaoChocolate{
    background-color: chocolate;
    color: #dda520;
}

.centralizado{
    text-align: center;
}

.corFonteBranca{
    color: #FFF; 
}

.fundo{
    background-color: #2f3542; /* Cor original -> background-color: #1A252F; */
}

.fundo2{
    background-color: #556981;
}

.fundo3{
    background-color: #002639;
}

.fundo4{
    background-color: #023D5E;
}

.fundo5{
    background-color: #FFF;
}

.verMais{
    background: transparent;
    border: 1px solid #1AF170;
    transition: all 0.2s;
    color: #FFF;
}

.verMais:hover{
    background-color: #1AF170;
    color: #FFF;
}

.verMais:visited{
    color: #FFF;
}

.thumbnail{
    border: none;
}

.fundoVermelho{
    color: #FFF;
    background-color: #FF4141;
    padding: 10px;
}

.corFonteAzul{
    color: #0097e6;
}

.fundoAzul{
    font-size: 12px;
    color: #FFF;
    background-color: #0078F2;
    padding: 3px;
    border-radius: 2px;
}

.fundoPreto{
    background-color: #000;
}

.fundoCinza{
    background-color: #353b48;
    padding: 10px;
}

.fundoCard{
    background-color: #002639;
}

.espacoDireita{
    padding-right: 70px;
}

.espacamento{
    padding: 20px;
}

.espaco{
    margin-top: 100px;
}

.espacoTop50{
    margin-top: 50px;
}

.semEspacoTopo{
    margin-top: -10px ;
}

.semEspaco{
    margin: -10px 0 -10px 0;
}

/* CLASSES UTILITÁRIAS  TEXTO */
.bold{
    font-weight: bold;
    color: #1AF170; 
}

.bold1{
    font-weight: bold;
    color: #1AF170; 
}

.corFonteVermelho{
    color: #FF4141;
}

.corFonteVerde{
    color: #1AF170;
}

.textArticle{
    color: #00FE93;
    transition: 0.5s;
}

.textArticle:hover{
    cursor: pointer;
}